.callsList__text {
  position: relative;
  font-weight: 400;
  font-size: 15px;
  line-height: 145%;
  letter-spacing: 0.01em;
  color: #122945;
  margin: 40px 0 17px 40px;
}

.callsList__text_number {
  position: absolute;
  top: 2px;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #899CB1;
  margin: 0 0 0 4px;
}

.callsList__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width:1681px) {
  .callsList__text {
    font-size: 13px;
  }

  .callsList__text_number {
    font-size: 11px;
  }
}