.ant-picker {
  width: 100%;
  height: 28px;
  box-sizing: border-box;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0;
  padding: 0;

}

.ant-picker .ant-picker-input >input {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #899CB1;
  
}

.ant-picker .ant-picker-input {
  width: 51px;
}

.ant-picker:hover {
  box-shadow: none;
}
.ant-picker-focused {
  box-shadow: none;
}

.ant-space {
  margin: 0 32px;
  margin: 0 0 20px 22px;
}


.anticon-calendar {
  display: none;
}

.ant-picker-suffix {
  width: 18px;
  height: 18px;
  background-image: url(../../images/icon-calendar.svg);
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity 0.2s;
}

.ant-picker-suffix:active {
  opacity: 0.8;
}

.ant-picker-dropdown {
  width: 300px;
}
.ant-picker-panel {
  width: 100%;
}
.ant-picker-date-panel {
  width: 100%;
}
.ant-picker-header {
  width: 100%;
}

.ant-picker-panel-container {
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
  background: #1677ff;
}

.ant-picker-active-bar {
 display: none;
}

.ant-picker .ant-picker-separator {
  display: none;
}

.ant-picker-range .ant-picker-range-separator {
  padding: 0;
  margin: 0 1px;
}

.ant-picker-range-separator::before {
  content: '-';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
  color: #ADBFDF;
}

.ant-picker .ant-picker-input >input::placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  color: #ADBFDF;
}

.ant-space-item .ant-picker-range {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-picker .ant-picker-suffix {
  margin-left: 25px;
}

.ant-picker-header-next-btn {
  visibility: visible !important;
}

.ant-picker-header-super-next-btn {
  visibility: visible !important;
}
